<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/master-layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}" />
    <title>Hotel Smart Reservation System - web App</title>

</head>
<body>
<th:block layout:fragment="content">
    <!----start-images-slider---->
    <div class="images-slider">
        <!-- start slider -->
        <div id="fwslider">
            <div class="slider_container">
                <div class="slide">
                    <!-- Slide image -->
                    <img src="@{/images/slider-bg.jpg}" alt=""/>
                    <!-- /Slide image -->
                    <!-- Texts container -->
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <!-- Text title -->
                            <h4 class="title"><i class="bg"></i>Feel Like Home <span class="hide">Our Hotel</span></h4>
                            <!-- <h4 class="title1"><i class="bg"></i>Hotel Reservation <span class="hide" >Smart Reservation</span></h4> -->
                            <!-- /Text title -->
                        </div>
                    </div>
                    <!-- /Texts container -->
                </div>

            </div>

        </div>
        <!--/slider -->
    </div>
    <!--start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="online_reservation">
                <div class="b_room">
                    <div class="booking_room">
                        <h4>book a room online</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                    <div class="reservation">
                        <ul>
                            <li class="span1_of_1">
                                <h5>type of room:</h5>
                                <!----------start section_room----------->
                                <div class="section_room">
                                    <select id="country" onchange="change_country(this.value)" class="frm-field required">
                                        <option value="null">Select a type of room</option>
                                        <option value="null">Suite room</option>
                                        <option value="AX">Single room</option>
                                        <option value="AX">Double room</option>
                                    </select>
                                </div>
                            </li>
                            <li  class="span1_of_1 left">
                                <h5>check-in-date:</h5>
                                <div class="book_date">
                                    <form>
                                        <input class="date" id="datepicker" type="text" value="DD/MM/YY" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'DD/MM/YY';}">
                                    </form>

                                </div>
                            </li>
                            <li  class="span1_of_1 left">
                                <h5>check-out-date:</h5>
                                <div class="book_date">
                                    <form>
                                        <input class="date" id="datepicker1" type="text" value="DD/MM/YY" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'DD/MM/YY';}">
                                    </form>
                                </div>
                            </li>
                            <li class="span1_of_2 left">
                                <h5>Adults:</h5>
                                <!----------start section_room----------->
                                <div class="section_room">
                                    <select id="country" onchange="change_country(this.value)" class="frm-field required">
                                        <option value="null">1</option>
                                        <option value="null">2</option>
                                        <option value="AX">3</option>
                                        <option value="AX">4</option>
                                    </select>
                                </div>
                            </li>
                            <li class="span1_of_3">
                                <div class="date_btn">
                                    <form>
                                        <input type="submit" value="book now" />
                                    </form>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--start grids_of_3 -->
            <div class="grids_of_3">
                <div class="grid1_of_3">
                    <div class="grid1_of_3_img">
                        <a href="details.html">
                            <img src="@{images/pic2.jpg}" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <h4><a href="#">single room<span>120$</span></a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="grid1_of_3">
                    <div class="grid1_of_3_img">
                        <a href="details.html">
                            <img src="@{/images/pic1.jpg}" alt="" />

                            <span class="next"> </span>
                        </a>
                    </div>
                    <h4><a href="#">double room<span>180$</span></a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="grid1_of_3">
                    <div class="grid1_of_3_img">
                        <a href="details.html">
                            <img src="@{/images/pic3.jpg}" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <h4><a href="#">suite room<span>210$</span></a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>